apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - ../../base

# Patch PVCs to use longhorn storage class
patches:
  - target:
      kind: PersistentVolumeClaim
      name: prometheus-storage
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: longhorn

  - target:
      kind: PersistentVolumeClaim
      name: grafana-storage
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: longhorn

  - target:
      kind: PersistentVolumeClaim
      name: loki-storage
    patch: |-
      - op: add
        path: /spec/storageClassName
        value: longhorn

# Optionally add Longhorn-specific annotations for backup/snapshot
# Uncomment to enable
# patchesJson6902:
#   - target:
#       group: ""
#       version: v1
#       kind: PersistentVolumeClaim
#       name: prometheus-storage
#     patch: |-
#       - op: add
#         path: /metadata/annotations
#         value:
#           recurring-job.longhorn.io/source: enabled
#           recurring-job-group.longhorn.io/default: enabled
